body{
    background-color: skyblue;
}

h1{
    text-align: center;
    font-size: 3.5rem;
}

.todoList{
    text-align: center;
    
}

.todoList input{
    height:8vh;
    width:45vw;
    min-width:300px;
    border-radius: 5px;
    border:2px solid black;
    font-size: large;
    color: black;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    
}

.buttons{
    /* margin-top:30px; */
    text-align: center;
    /* border:5px solid red; */
    
}
.buttons button{
    
    width:15vw;
    height:10vh;
    min-width:150px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid black;
    background: rgb(179, 126, 236);
    font-weight: bolder;
    font-size: 20px;
    
    
}